@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk';
    overflow-y: hidden;
}

:root {
    --cor01: #080B14;
    --cor02: #0F1324;
    --cor04: #6C63FF;
    --cor05: #fcfaff;
}

body {
    background-color: var(--cor01);
    background-image: linear-gradient(to bottom, #080B14, #6b63ff30);
    color: var(--cor05);
    height: 100vh;
}

header {
    margin: 10px 7px 20px 7px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#marca-crono {
    display: flex;
    font-size: 12px;
    gap: 2px;
}

#logo-crono {
    color: var(--cor04);
    width: 28px;
}

section h2 {
    text-align: center;
    margin-bottom: 10px;
}

.timer-display {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.timer-unit {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.timer-value {
    border: 1px solid var(--cor04);
    min-width: 90px;
    min-height: 90px;
    font-size: 65px;
    font-weight: 500;
    text-align: center;
    background-color: var(--cor02);
}

.controles {
    display: flex;
    justify-content: center;
    margin: 10px 0px 35px 0px;
    gap: 4px;
}

.btn-control {
    width: 28px;
}

#btn-start {
    padding: 7px;
    font-size: 21px;
    border: 1px solid var(--cor04);
    background-color: var(--cor02);
    color: var(--cor05);
    box-shadow: 2px 1px 5px #6b63ff4b;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#btn-start:active {
    background-color: var(--cor04);
    color: var(--cor02);
}

.btn-control {
    display: none;
}


#section-block {
    display: none;
}