@media screen and (min-width: 768px) {
    #btn-config {
        width: 30px;
    }
    
    header {
        padding: 10px;
    }

    main h2 {
        font-size: 28px;
    }

    main p {
        font-size: 20px;
    }

    .timer-value {
        width: 110px;
        height: 110px;
        font-size: 75px;
    }

    .btn {
        padding: 7px;
        font-size: 28px;
    }
}