@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --fonte-principal: 'Space Grotesk';
    --cor-fundo01: #1A202C;
    --cor-fundo02: #F1F5F2;
    --cor-destaque: #2F855A;
    --cor-texto: #68D391;
    --cor05: #ffffffac;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
}

body {
    background-color: var(--cor-fundo01);
    color: var(--cor-texto);
}



header svg {   
    width: 25px;
    color: var(--cor-texto);
    margin-right: 3px;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 10px;
}

#logo {
    display: flex;
}

header h1 {
    font-size: 1.5em;
    color: var(--cor-texto);
}

#botao-configuracoes, #botao-play, #botao-pause {
    font-size: 28px;
}

#hora-principal {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    margin: 15px 0px 10px 0px;
    font-weight: 500;
}

.timer {
    width: 90px;
    height: 90px;
    font-size: 64px;
    border: 1px solid var(--cor05);
    color: var(--cor-destaque);
}

#botoes {
    display: flex;
    justify-content: center;
}

button {
    background-color: var(--cor-fundo01);
    color: var(--cor-texto);
    border: 1px solid #68D391;
    padding: 5px;
    width: 80px;
    height: 40px;
    font-size: 20px;
    box-shadow: 1px 1px 3px #68d39145;
    text-shadow: 1px 1px 3px #68d39138;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1
}


#botao-play, #botao-pause {
    display: none;
}