@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --fonte-principal: 'Space Grotesk';
    --cor-fundo01: #1A202C;
    --cor-secundaria: #F1F5F2;
    --cor-destaque: #2F855A;
    --cor-texto: #68D391;
    --cor05: #ffffffac;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
}

body {
    background-color: var(--cor-fundo01);
    color: var(--cor-texto);
}



header svg {   
    width: 25px;
    color: var(--cor-texto);
    margin-right: 3px;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 10px;
}

#logo {
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 1.5em;
    color: var(--cor-texto);
}

#botao-configuracoes, #botao-play, #botao-pause {
    font-size: 28px;
    cursor: pointer;
}

.titulo-main {
    text-align: center;
    margin: 20px 0px 5px 0px;
    font-size: 25px;
    color: var(--cor-texto);
}

#hora-principal {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
}

.timer {
    width: 90px;
    height: 90px;
    font-size: 64px;
    border: 1px solid var(--cor05);
    color: var(--cor-destaque);
}

#botoes {
    display: flex;
    justify-content: center;
}

#botao-iniciar {
    background-color: var(--cor-fundo01);
    color: var(--cor-texto);
    border: 1px solid #68D391;
    padding: 5px;
    width: 80px;
    height: 40px;
    font-size: 20px;
    box-shadow: 1px 1px 3px #68d39145;
    text-shadow: 1px 1px 3px #68d39138;
}

#botao-iniciar:active {
    background-color: var(--cor-texto);
    color: var(--cor-fundo01);
}

#botao-iniciar:hover {
    cursor: pointer;
}


.material-symbols-outlined {
    font-variation-settings:
  'FILL' 1;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


#botoes #botao-play, #botoes #botao-pause {
    display: none;
    cursor: pointer;
}

#marcador-tempo {
    display: none; /*Colocar display block*/
}

#marcador-tempo h1 {
    margin-top: 35px;
}

.bloco-quebra {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    font-weight: 500;
}

.bloco-quebra p {
    color: var(--cor-texto);
}

#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0000006b;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    top: 0;
    left: 0;
    display: none;
}

dialog {
    z-index: 69;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 10px;
}

#cabecalho-config {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

dialog h1 {
    margin: auto;
}

dialog #fechar:active {
    color: #e74545;
}

dialog h1, dialog #fechar {
    text-transform: uppercase;
    font-size: 20px;
    color: #1a202cc8;
}